/* GENERAL ****************************************************************** */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}



/* TYPOGRAPHY *************************************************************** */

html {
    font-size: 18px;
}


/* HEADER ******************************************************************* */


/* MAIN ********************************************************************* */
.countries-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.country-div {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flag-img {
    width: 100%;
}

.name-p {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
    height: 2.5em;
}

.property-name {
    font-weight: 800;
}

.capital-p, .population-p {
    margin-bottom: 1rem;
}

.languages-p {
    height: 3.5em;
}



/* FOOTER ******************************************************************* */